

.ParaOne {
    text-transform: uppercase;
    text-align: center;
    font-size: 400;
    line-height: 0px;
}



.ParaTwo {
    text-transform: uppercase;
    text-align: center;
    font-size: 300;
    line-height: 0px;
}



.ParaThree {
    text-transform: uppercase;
    text-align: center;
    font-size: 225;
    line-height: 0px;
}



.ParaFour {
    text-transform: uppercase;
    text-align: center;
    font-size: 150;
    line-height: 0px;
}



.ParaFive {
   text-transform: uppercase;
    text-align: center;
    font-size: 140;
    line-height: 0px;
}



.ParaSix {
    text-transform: uppercase;
    text-align: center;
    font-size: 130;
    line-height: 0px;
}



.ParaSeven {
   text-transform: uppercase;
    text-align: center;
    font-size: 115;
    line-height: 0px;
}



.ParaEight {
    text-transform: uppercase;
    text-align: center;
    font-size: 100;
    line-height: 0px;
}



.ParaNine {
    text-transform: uppercase;
    text-align: center;
    font-size: 50;
    line-height: 0px;
}



.ParaTen {
    text-transform: uppercase;
    text-align: center;
    font-size: 15;
    line-height: 0px;
}














.ParaA {
    text-transform: uppercase;
    text-align: center;
    font-size: 18;
    line-height: 0px;
}
.ParaB {
    text-transform: uppercase;
    text-align: center;
    font-size: 50;
    line-height: 0px;
}
.ParaC {
    text-transform: uppercase;
    text-align: center;
    font-size: 115;
    line-height: 0px;
}
.ParaD {
    text-transform: uppercase;
    text-align: center;
    font-size: 130;
    line-height: 0px;
}
.ParaE {
    text-transform: uppercase;
    text-align: center;
    font-size: 130;
    line-height: 0px;
}
.ParaF {
    text-transform: uppercase;
    text-align: center;
    font-size: 140;
    line-height: 0px;
}
.ParaG {
    text-transform: uppercase;
    text-align: center;
    font-size: 150;
    line-height: 0px;
}
.ParaH {
    text-transform: uppercase;
    text-align: center;
    font-size: 225;
    line-height: 0px;
}
.ParaI {
    text-transform: uppercase;
    text-align: center;
    font-size: 300;
    line-height: 0px;
}
.ParaJ {
    text-transform: uppercase;
    text-align: center;
    font-size: 400;
    line-height: 0px;
}